@import '../../node_modules/modern-normalize/modern-normalize';
@import 'utils/variables';
@import 'components/type';

:root{
    --font-title: 'Paytone One', sans-serif;
    --font-text: 'Cousine', monospace;
    --color-text: #202020;
    --color-bg: #ffffff;
    --color-bg2: #F5F5F5;
    --color-bg3: #F1CE50;
    --gradient-bg: linear-gradient(180deg, rgba(255,126,54,1) 0%, rgba(241,206,80,1) 13%, rgba(241,206,80,1) 78%, rgba(255,126,54,1) 100%);
    --gradient-title1: linear-gradient(150.35deg, #632CFF 0%, #1507FF 30%, #00D4FF 60%);
    --gradient-title2: linear-gradient(150.35deg, #DB49C4 0%, #632CFF 100%);
}

@media(prefers-color-scheme: dark){
    :root {
        --color-text: #FFFFFF;
        --color-bg: #25273E;
        --color-bg2: #393D67;
        --color-bg3: #1E1E1E;
        --gradient-bg: linear-gradient(180deg, rgba(99,44,255) 0%, rgba(0,212,255) 13%, rgba(0,212,255) 78%, rgba(99,44,255) 100%);
        --gradient-title1: linear-gradient(150.35deg, #FFF736 0%,#00D4FF 100%);
        --gradient-title2: linear-gradient(150.35deg, #00D4FF 0%, #FFF736 100%);
    }
}

[data-theme="light"]{
    --color-text: #202020;
    --color-bg: #ffffff;
    --color-bg2: #F5F5F5;
    --color-bg3: #F1CE50;
    --gradient-bg: linear-gradient(180deg, rgba(255,126,54,1) 0%, rgba(241,206,80,1) 13%, rgba(241,206,80,1) 78%, rgba(255,126,54,1) 100%);
    --gradient-title1: linear-gradient(150.35deg, #632CFF 0%, #1507FF 30%, #00D4FF 60%);
    --gradient-title2: linear-gradient(150.35deg, #DB49C4 0%, #632CFF 100%);
}

[data-theme="dark"]{
    --color-text: #FFFFFF;
    --color-bg: #25273E;
    --color-bg2: #393D67;
    --color-bg3: #1E1E1E;
    --gradient-bg: linear-gradient(180deg, rgba(99,44,255) 0%, rgba(0,212,255) 13%, rgba(0,212,255) 78%, rgba(99,44,255) 100%);
    --gradient-title1: linear-gradient(150.35deg, #FFF736 0%,#00D4FF 100%);
    --gradient-title2: linear-gradient(150.35deg, #00D4FF 0%, #FFF736 100%);
}

/* ========================================== BODY ========================================== */

html{
    overflow-x: hidden;
}

body{
    background: rgb(255,126,54);
    background: var(--gradient-bg);
    font-size: 16px;
    overflow-x: hidden;
    color: var(--color-text);

    .titlenav{
        font-family: var(--font-title);
        text-decoration: none;
        margin-left:10px;
        color: white;
    }

    ul{
        padding:0;

        li{
            list-style: none;
        }
    }

    section{
        width: 100%;
        font-family: var(--font-text);
        padding: 1em;
    }
}

/* ========================================== HEADER ========================================== */

header{

    .navflex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:0 1em 0 1em;
    }

    .navleft{
        display: flex;
        justify-content: space-around;
        align-items: center;

        svg{
            align-items: baseline;
        }
    }

    button{
        cursor: pointer;
        background: none;
        border: none;

        .moon{
            display:block;
        }

        .sun{
            display: none;
        }
    }

    a{ 
        color: var(--color-bg);
    }

}

/* ========================================== TITLES ========================================== */

h1{
    font-family: var(--font-title);
    color: white;
    text-align: center;
    margin: 2vw;
    letter-spacing: 0.03em;
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 20%;
    margin-top: 10vh;
}

.sous-titre, .sous-texte{
    margin-bottom:10%;
}

.title{
    font-size: 40px;
    line-height: 125%;
    background: var(--gradient-title1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--font-title);

    &--2{
        background: #DB49C4;
        background: var(--gradient-title2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: relative;
        z-index: 10;
        padding-top: 8px;
        padding-left: 5%;
        margin-top: 0;
    }

    &--3{
        margin-top:2em;
    }
}

h4{
    font-family: var(--font-title);
    color: var(--color-text);
    font-size: 20px;
    display: block;
    margin: 0;
}


/* ========================================== SECTION INTRO ========================================== */

.intro{
    height: 90vh;
}

.call-to-action{
    display: block;
    font-family: var(--font-text);
    width:240px;
    height:80px;
    border-radius: 5px;
    cursor: pointer;
    background-color: black;
    text-align: center;
    text-decoration: none;
    position: relative;
    margin: auto;

    span{
        width:240px;
        height:80px;
        background-color: white;
        padding: 13px 20px 9px;
        border: 3px solid black;
        color: black;
        display: block;
        border-radius: 5px;
        transform: translate(-6px, -6px);
        transition: transform .3s;
    }

    &:after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 5px;
        z-index: -1;
    }

    &:hover span,
    &:focus span{
        transform: translate(-3px, -3px);
    }

    &:active span{
        transform: translate(0,0);
    }
}

/* ========================================== SECTION EXPLANATION ========================================== */

.explanation{
    background-color: var(--color-bg);
    position: relative;
    z-index: 20;
    margin-bottom: 5em;

    &:before{
        content: "";
        display: block;
        background: url('../assets/images/waves-top.svg');
        background-position: bottom;
        position: absolute;
        top: -120px;
        background-size: contain;
        left: -1px;
        width: 200%;
        height: 193px;
        background-repeat: repeat-x;
        z-index: -1;

    }

    .mockup{
        max-width: 100%;
        overflow-x: hidden;
    }

    .mockup-dark{
        display: none;
    }
}

/* ========================================== SECTION GALLERY ========================================== */

.gallery{
    background-color: var(--color-bg2);
    height:100vh;
    position: relative;
    padding:0;
    z-index: 30;
    
    &:before{
        content: "";
        display: block;
        background:url('../assets/images/border-top.svg');
        background-position: bottom;
        position: absolute;
        top: -199px;
        background-size: cover;
        left: -84px;
        width: 200%;
        height: 200px;
        z-index: -1;
    }
    
}

.swiper {
    width: 200%;
    height: 50%;
}

.swiper-slide {
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    background: white;
    color: black;
    width:200px;
    height:360px;
    box-shadow: 0px 0px 20px 5px rgba(222, 222, 222, 0.24);

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex-direction: column;
  }

  .swiper-slide img {
    display: block;
    height: 70%;
    object-fit: cover;
  }

/* ========================================== SECTION JOURNEY ========================================== */

.journey{
    background-color: var(--color-bg);
    height:40vh;
    position: relative;
    z-index: 20;
    margin-bottom: 15em;

            &:before{
                content: "";
                background:url('../assets/images/border-bottom.svg');
                background-size: contain;
                background-position: top;
                position: absolute;
                z-index: -1;
                top: -3em;
                left: -18em;
                width: 200%;
                height: 200px;
                background-repeat: no-repeat;
        }

            &:after{
                content: "";
                background:url('../assets/images/waves-bottom.svg');
                background-position: bottom;
                position: absolute;
                bottom: -60px;
                background-size: contain;
                left: -1px;
                width: 200%;
                height: 193px;
                background-repeat: repeat-x;
                z-index: -1;
            }

    figure{
        width: 100%;
        margin: auto;
        text-align: center;

    .howto{
        padding:5px;
        background: #FFFFFF;
        border: 3px solid #000000;
        border-radius: 5px;
        width:100%;
        box-shadow: 5px 5px 0px -1px #000000;
    }
}
}

figcaption{
    text-align: center;
    font-size: 1em;
    color: var(--color-text);
    background-color: var(--color-bg);
    display: inline;
}


/* ========================================== REVIEWS ========================================== */
.reviews-container{
    display: flex;
    flex-direction: column;

    .reviews{

        display: flex;
        flex-direction: column;
        margin: auto;
        width: 90vw;
        border-radius: 3px;
        background-color: var(--color-bg);
        margin-bottom:20px;
        padding:20px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        &--wrap{
            display: flex;
        }

        p{
            display: inline;
        }

        img{
            height: 55px;
            width: 55px;
            object-fit: cover;
        }
  
        p{
            margin-bottom: 0;
            font-size: 1em;
        }
    }
}

.end{
    height: 80vh;
}

.you-rock{
    display: flex;
    flex-direction: row;
    align-items: center;

    .rating{
        margin-left: 10px;

        .stars-roland-dark{
            display: none;
        }

        .stars-angrypom-dark{
            display: none;
        }

        .stars-roland-light{
            display: block;
        }

        .stars-angrypom-light{
            display: block;
        }
    }
}

/* ========================================== FOOTER ========================================== */

footer{
    background-color: var(--color-bg3);
    height:20vh;
    padding: 20px 20px 20px;

    .left, .right{
        display: flex;
        justify-content: space-around;
    }

    a, .current-year{
        color: var(--color-text);
        font-family: var(--font-text);
        font-size: 1em;

        &:hover,
        &:focus{
            font-weight: bolder;
        }
    }

    .current-year{
        align-self: end;
    }
}

/* ========================================== DARK THEME ========================================== */

[data-theme="dark"]{

    button{
        cursor: pointer;
        background: none;
        border: none;

        .moon{
            display:none;
        }

        .sun{
            display: block;
        }
    }

    .explanation:before{
        background: url('../assets/images/waves-top-dark.svg');
        background-position: bottom;
        position: absolute;
        top: -120px;
        background-size: contain;
        left: -1px;
        width: 200%;
        height: 193px;
        background-repeat: repeat-x;
        z-index: -1;
    }

    .mockup{
        display: none;
    }

    .mockup-dark{
        display: block;
        max-width: 100%;
        overflow-x: hidden;
    }

    .gallery:before{
            background:url('../assets/images/border-top-dark.svg');
            background-position: bottom;
            position: absolute;
            top: -199px;
            background-size: cover;
            left: -84px;
            width: 200%;
            height: 200px;
            z-index: -1;
        }

        .swiper-slide{
            box-shadow: 0px 0px 20px 5px rgba(51, 51, 51, 0.24);
        }

    .journey:before{
        background:url('../assets/images/border-bottom-dark.svg');
        background-size: contain;
        background-position: top;
        position: absolute;
        z-index: -1;
        top: -3em;
        left: -18em;
        width: 200%;
        height: 200px;
        background-repeat: no-repeat;
                }
        
    .journey:after{
        background:url('../assets/images/waves-bottom-dark.svg');
        background-position: bottom;
        position: absolute;
        bottom: -60px;
        background-size: contain;
        left: -1px;
        width: 200%;
        height: 193px;
        background-repeat: repeat-x;
        z-index: -1;
    }

    .rating{
        margin-left: 10px;

    .stars-roland-light{
        display: none;
    }

    .stars-angrypom-light{
        display: none;
    }

    .stars-roland-dark{
        display: block;
    }

    .stars-angrypom-dark{
        display: block;
    }
}
        
}

/* ========================================== MEDIA QUERIES ========================================== */


@media (min-width: 1050px){
    .intro{

        .home{
            display:flex;
            flex-direction: column;
            justify-content: center;
        }
        h1{
            margin-bottom: 5%;
            align-self: center;
            font-size: 48px;
            width: 60%;
            line-height: 67px;
        }
    }

    .explanation{
        display: grid;
        grid-template-columns: 40% 40%;
        justify-content: center;
        grid-template-areas: 
        "mockup titre"
        "mockup sous-titre"
        "mockup sous-texte";
        padding-bottom: 12em;

        .title{
            grid-area: titre;
        }

        .sous-titre{
            grid-area: sous-titre;
            text-align: right;
        }

        .sous-texte{
            grid-area: sous-texte;
        }

        .mockup, .mockup-dark{
            grid-area: mockup;
            justify-self: center;
            max-width: 50%;
        }
    }

    .gallery{
        
        &:before{
            content: "";
            display: block;
            background:url('../assets/images/border-top-desktop.svg');
            background-position: bottom;
            position: absolute;
            top: -318px;
            background-size: cover;
            left: -84px;
            width: 200%;
            height: 407px;
            z-index: -1;
        }
    }

    [data-theme="dark"]{
        .gallery{
        
            &:before{
                content: "";
                background:url('../assets/images/border-top-dark-desktop.svg');
                background-position: bottom;
                position: absolute;
                top: -318px;
                background-size: cover;
                left: -84px;
                width: 200%;
                height: 407px;
                z-index: -1;
            }
        }
    }

    .gallery{
        .swiper{
            width: 100%;
        }
    }

    .journey{
        height:90vh;
        margin-bottom: 25em;

        .title--3{
            display: inline-block;
            margin-bottom: 1.5em;
        }

        figure{
            .howto{
                width:80%;
                display: block;
                margin: auto;
                margin-bottom: 20px;
            }
        }
            &:before{
                content: "";
                background:url('../assets/images/border-bottom-desktop.svg');
                background-position: bottom;
                position: absolute;
                top: -318px;
                background-size: cover;
                left: -84px;
                width: 200%;
                height: 407px;
                z-index: -1;
        }

        [data-theme="dark"]{
            &:after{
                background:url('../assets/images/waves-bottom-dark.svg');
                bottom: -60px;
            }
    }
    }

    .end {
        height: 60vh;
        
        .reviews-container{
        justify-content: space-between;
        flex-direction: row;
        
        .reviews{
            width: 30vw;
            height: 20vh;
        }

        }

    }
}