@import '../../node_modules/modern-normalize/modern-normalize';
@import 'utils/variables';
@import 'components/type';

:root{
    --font-title: 'Paytone One', sans-serif;
    --font-text: 'Cousine', monospace;
    --color-text: #202020;
    --color-bg: #ffffff;
    --gradient-bg: linear-gradient(180deg, rgba(255,126,54,1) 0%, rgba(241,206,80,1) 13%, rgba(241,206,80,1) 78%, rgba(255,126,54,1) 100%);
    --gradient-title1: linear-gradient(150.35deg, #632CFF 0%, #1507FF 50%, #00D4FF 100%);
}

[data-theme="dark"]{
    --colo-bg:#000;
}

[data-theme="light"]{
    --colo-bg:#fff;
}

/* ========================================== BODY ========================================== */

body{
    background: rgb(255,126,54);
    background: var(--gradient-bg);
    font-size: 16px;

    .titlenav{
        font-family: var(--font-title);
        text-decoration: none;
    }

    ul{
        padding:0;

        li{
            list-style: none;
        }
    }

    section{
        width: 100%;
        font-family: var(--font-text);
    }
}

/* ========================================== HEADER ========================================== */

header{

    ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    button{
        cursor: pointer;
        background: none;
        border: none;
    }

    a{ 
        color: var(--color-bg);
    }

}

/* ========================================== BUTTON CALL-TO-ACTION ========================================== */


// .call-to-action{
//     text-align: center;
//     display: inline-block;
//     cursor: pointer;
//     background-color: var(--color-bg);
//     border: 3px solid var(--color-text);
//     border-radius: 5px;
//     width:240px;
//     height:80px;
//     margin: auto;
//     position: relative;

//     span{
//         display: inline-block;
//         padding: 15px 20px 10px 20px;
//         transform: translate(-6px, -6px);
//         transition: transform .3s;

//         &:hover{
//             transform: translate(-3px, -3px);
//         }
//     }

//     &:after{
//         content:"";
//         border-radius: 5px;
//         position: absolute;
//         top: 0;
//         right: 0;
//         left: 0;
//         bottom: 0;
//         z-index: -1;
//         box-shadow: 10px 10px var(--color-text);
//     }

.call-to-action{
    display: block;
    font-family: var(--font-text);
    width:240px;
    height:80px;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--color-text);
    border: 3px solid var(--color-text);
    text-align: center;
    text-decoration: none;
    position: relative;
    margin: auto;

    span{
        background-color: var(--color-bg);
        padding: 10px 20px 9px;
        border: 3px solid var(--color-text);
        color: var(--color-text);
        display: block;
        border-radius: 5px;
        transform: translate(-6px, -6px);
        transition: transform .3s;
    }

    &:after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 2px solid #000;
        z-index: -1;
    }

    &:hover span,
    &:focus span{
        transform: translate(-3px, -3px);
    }

    &:active span{
        transform: translate(0,0);
    }
}

/* ========================================== TITLES ========================================== */

h1{
    font-family: var(--font-title);
    color: var(--color-bg);
    text-align: center;
    margin: 10vw;
    letter-spacing: 0.03em;
    font-size: 36px;
    line-height: 50px;
}

.title{
    background: var(--gradient-title1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--font-title);
}


/* ========================================== PICTURES ========================================== */

.mockup{
    max-width: 100%;
}


/* ========================================== MEDIA QUERIES ========================================== */


// @media (min-width: 1050px){

// }